* {
    text-decoration: none;
    list-style: none;
    font-family: 'Dosis', sans-serif;
  }
  
  body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  header {
    flex-grow: 0;
    background-color: #3B18FB;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 5px 5px 5px black;
  }
  
  .content {
    flex-grow: 2;
    width: 100%;
    text-align: center;
  }
  
  .formContainer {
    background-color: LightSkyBlue;
    color: white;
    width: 30%;
    height: auto;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 5px 5px 5px black;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .formContainer h2 {
    text-shadow: 2px 2px 2px black;
    margin: 5px;
    margin-top: 0;
  }
  
  input,
  select,
  .comments {
    width: 75%;
    text-align: center;
    font-size: 1.2em;
    margin-top: 5px;
  }
  
  .species {
    margin: auto;
    padding: auto;
  }
  
  .uploadBtn,
  .submitBtn {
    margin-top: 10px;
    width: 75%;
    font-size: 1.2em;
  }
  
  .uploadBtn {
    margin-bottom: 20px;
  }
  
  .addedPets {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
  }
  
  .mainFooter {
    flex-grow: 0;
    background-color: Darkblue;
    width: 100%;
    text-align: center;
    color: white;
  }
  
  .remove {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .petContainer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    flex-flow: row wrap;
  }
  
  .box {
    margin-bottom: 20px;
    width: 25%;
    border: 1px solid black;
    box-shadow: 5px 5px 5px;
    border-radius: 20px;
    margin: 25px;
    word-wrap: break-word;
    text-align: left;
  }
  
  .box p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px;
  }
  
  .box:link { color: #c00 } /* unvisited links */
  .box:visited { color: #0c0 } /* visited links */
  .box:hover { color: #00c } /* user hovers */
  .box:active { color: #ccc } /* active links */
  
  .layOver {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none; /* Hide the layOver by default */
  }
  
  .layOverContent {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: white;
    text-align: left;
    font-size: 1.3em;
    padding: 25px;
    border-radius: 20px;
  }
  
  .layOverContent button {
    display: none;
  }
 
.petImage {
  max-width: 50%;
  height: auto;
  margin-top: 10px;
}


